pre, code {
  font-family: "SourceCodePro-Regular", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-size: 14px;
}
h1 {
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 50px;
    font-weight: normal;
  }

h2 {
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: normal;
}

h2 code {
  font-size: 17px;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: normal;
}

h3 strong, h3 b {
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: normal;
}
h3 code {
  font-size: 16px;
}

h4, .h4 {
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
}
h4 code, .h4 code {
  font-size: 17px;
}

h5, .h5 {
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: normal;
}
h5 code, .h5 code {
  font-size: 17px;
}

h6, .h6 {
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 28px;
}

p {
  font-family: "SourceSansPro-Regular", sans-serif;
  font-size: 16px;
  font-weight: normal;
}

